*{
    margin:0;
}
h1{
    font-size: 60px;
    background:red;
    margin:10px auto;
    padding:0.5em 1em;
    border-radius: 10px;
}
#wrapper{
    width: 100%;
    background:whitesmoke;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;


}
#input{
   background:orange;
   padding:2em;
   width:40%;
   height:20vh;
   border-radius:10px 10px 0 0;

}
#formulaInput{
    width:100%;

}
#button{
    font-size: 40px;
    margin:10px auto;
    text-align: center;
    border:2px solid grey;
    background:lightgray;

}
#formulaOutput{
    background:orange;
    width:40%;
    min-height:20vh;
    padding:2em;
    border-radius:0 0 10px 10px;
}